//Bu Sass Dosyası Emrah KAHRAMAN tarafından kodlanmıştır.

//Variable
@import "variables/_reset";
@import "variables/_variable";

* {
  box-sizing: border-box;
}

body {
  background-color: $bg_color;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  font-size: $large_size;
  font-family: $one_family, $two_family;
  color: $primary_color;
}

//Header#
#header {
  width: 100%;
  background-color: $six_color;

  //header
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    position: relative;

    //&_logo
    &_logo {
      position: relative;
      z-index: 3;
      img {
        cursor: pointer;
      }
    }

    //&_menu
    &_menu {
      > li {
        display: inline-block;
        position: relative;
        margin-right: 25px;
        &:last-child {
          margin-right: 0;
        }
        > a {
          font-family: $two_family;
          color: $primary_color;
          @include weight(medium);
          font-size: $regular_size;
          text-transform: uppercase;
          position: relative;
          &::before {
            position: absolute;
            width: 0;
            margin: -4px 0;
            transition: 0.4ms all ease-in-out;
            content: "";
            background-color: $two_color;
            height: 4px;
            border-radius: 2px;
            left: 0;
            bottom: 0;
          }
          &:hover {
            color: $two_color;
            &::before {
              width: 100%;
            }
          }
          &:not(:only-child):after {
            padding-left: 0;
            content: "▾";
          }
        }
        .active {
          position: relative;
          &::before {
            position: absolute;
            width: 0;
            margin: -5px 0;
            transition: 0.4ms all ease-in-out;
            content: "";
            background-color: $two_color;
            height: 4px;
            border-radius: 2px;
            left: 0;
            bottom: 0;
          }
        }
        .active,
        a.active {
          &::before {
            width: 100%;
          }
        }
      }
    }

    //&_hamburger
    &_hamburger {
      display: none;
      position: absolute;
      top: 27px;
      right: 15px;
      transition: 0.5s all ease-in-out;
      cursor: pointer;
      z-index: 999;
      .icon {
        font-size: 30px;
        color: $two_color;
      }
    }

    //Notebook
    @include notebook {
      //&_menu
      &_menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: $six_color;
        z-index: 2;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        transform: scale(0);
        opacity: 0;
        transition: opacity 650ms;
        li {
          display: block;
          margin-right: 0;
          padding-bottom: 30px;
          &:last-child {
            padding-bottom: 0;
          }
          a {
            font-size: $large_size;
            font-weight: bold;
            color: $primary_color;
            &::before {
              background-color: $two_color;
            }
          }
          //dropdown
          .dropdown {
            width: 100%;
            top: 30px;
            padding: 15px 0;
            li {
              padding-bottom: 12px;
              &:last-child {
                padding-bottom: 0;
              }
              a {
                font-size: 12px;
                line-height: normal;
              }
            }
          }
        }
      }
      //dropdown
      .dropdown.open {
        opacity: 1;
      }
      &_menu.open {
        opacity: 1;
        transform: scale(1);
      }

      //&_hamburger
      &_hamburger {
        display: block;
        .times {
          display: none;
        }
      }
      &_hamburger.open {
        .bars {
          display: none;
        }
        .times {
          display: block;
        }
      }
    }
  }
}
#header.scroll {
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.35);
  position: fixed;
  transition: 0.3s all ease-in-out;
  top: 0;
  z-index: 2;

  //header
  .header {
    //&_hamburger
    &_hamburger {
      top: 27px;
    }
  }
}

//Hero#
#hero {
  width: 100%;
  padding: 300px 0;

  //hero
  .hero {
    display: flex;
    justify-content: space-between;
    align-items: center;

    //&_text
    &_text {
      font-family: $one_family;
      font-size: 58px;
      @include weight(700);
      line-height: 70px;
      color: $three_color;
      .href {
        color: $two_color;
      }
    }
    //&_image
    &_image {
      img {
        width: 100%;
      }
    }

    //Large
    @include large {
      //&_text
      &_text {
        font-size: 45px;
        line-height: 57px;
      }
    }
    //Tablet
    @include tablet {
      display: flex;
      flex-direction: column;
      text-align: center;
      //&_text
      &_text {
        font-size: 35px;
        line-height: 45px;
      }
      //&_image
      &_image {
        padding-top: 50px;
      }
    }
    //X-Tablet
    @include x-tablet {
      //&_text
      &_text {
        font-size: 30px;
        line-height: 40px;
      }
    }
    //Mobil
    @include mobil {
      //&_text
      &_text {
        font-size: 25px;
        line-height: 35px;
      }
    }
  }
}

//About#
#about {
  width: 100%;
  padding: 300px 0 300px 0;
}

//Tech#
#tech {
  width: 100%;
  padding: 300px 0 250px 0;

  //tech
  .tech {
    text-align: center;

    //&_title
    &_title {
      h6 {
        font-family: $one_family;
        font-size: 48px;
        color: $four_color;
        @include weight(700);
        line-height: normal;
      }
      p {
        padding-top: 20px;
        font-family: $two_family;
        font-size: $xlarge_size;
        color: $three_color;
        line-height: 27px;
      }
      //Large
      @include large {
        h6 {
          font-size: 45px;
        }
      }
      //Notebook
      @include notebook {
        h6 {
          font-size: 35px;
        }
        p {
          font-size: $large_size;
          line-height: 24px;
        }
      }
      //Tablet
      @include tablet {
        h6 {
          font-size: 30px;
        }
        p {
          padding-top: 15px;
          font-size: $regular_size;
          line-height: 20px;
        }
      }
      //X-Tablet
      @include x-tablet {
        h6 {
          font-size: 25px;
        }
      }
      //Mobil
      @include mobil {
        h6 {
          font-size: 20px;
        }
        p {
          font-size: $small_size;
          line-height: 17px;
        }
      }
    }
    //&_items
    &_items {
      padding-top: 130px;
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      //&_box
      &_box {
        margin-bottom: 50px;
        &:last-child {
          margin-bottom: 0;
        }
      }
      //Large
      @include large {
        grid-template-columns: repeat(4, 1fr);
      }
      //Notebook
      @include notebook {
        grid-template-columns: repeat(3, 1fr);
      }
      //Tablet
      @include tablet {
        padding-top: 120px;
        grid-template-columns: repeat(2, 1fr);
      }
      //Mobil
      @include mobil {
        grid-template-columns: repeat(1, 1fr);
      }
    }
  }
}

//Footer#
#footer {
  width: 100%;
  background-color: $six_color;
  padding: 20px 0;

  //footer
  .footer {
    display: flex;
    align-items: center;
    justify-content: space-between;

    //&_social
    &_social {
      li {
        display: inline-block;
        margin-right: 10px;
        &:last-child {
          margin-right: 0;
        }
        a {
          display: inline-block;
          width: 35px;
          height: 35px;
          line-height: 35px;
          text-align: center;
          color: $primary_color;
          background-color: $two_color;
          position: relative;
          .icon {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }
      }
    }
    //&_copyright
    &_copyright {
      color: $three_color;
      font-size: $large_size;
      line-height: normal;
      .href {
        color: $two_color;
        padding: 0 5px;
      }
    }
  }

  //Notebook
  @include notebook {
    //footer
    .footer {
      display: flex;
      flex-direction: column;
      text-align: center;
      //&_social
      &_social {
        padding: 20px 0;
      }
    }
  }
  //X-Tablet
  @include x-tablet {
    //footer
    .footer {
      //&_social
      &_social {
        li {
          a {
            width: 25px;
            height: 25px;
            line-height: 25px;
            font-size: $regular_size;
          }
        }
      }
      //&_copyright
      &_copyright {
        font-size: $regular_size;
        line-height: 20px;
        .href {
          padding: 0 3px;
        }
      }
    }
  }
}
